/* Animations */

.skill-card,
.project-card,
.goal-card,
.timeline-content,
.card{

    opacity:0;

    transform:translateY(30px);

    transition:all .6s ease;

}

.show{

    opacity:1;

    transform:translateY(0);

}